address {
font-family: Quattrocento, Georgia, "Times New Roman", serif;
text-align:center;
font-size: 0.8em
}

a:hover {
color: darkcyan;
text-decoration: none;
}

a:link {
font-family: Oswald, Verdana, Arial, sans-serif;
text-decoration: none;
}

a:url {
padding-top: 0.5em;
font-size: 1em;
font-weight: bold;
}

a:visited {
color: red;
}

body {
font-size: 16px;
}

.fiveLearned {
border: 1px solid red;
border-radius: 15px;
border-style: dashed;
padding: 10px;
margin-top: 5px;
}

h1 {
font-family: Oswald, Verdana, Arial, sans-serif;
font-size: 1.953em
font-weight: 400;
padding: .5em;
margin: 0;
text-align:center;
text-transform: uppercase;
}

h2 {
font-family: Oswald, Verdana, Arial, sans-serif;
font-size: 1.563em
font-weight: 500;
padding-bottom: .3em;
margin: 0;
text-align:center;
}

h3 {
font-family: Oswald, Verdana, Arial, sans-serif;
font-weight: 500;
}

hr {
border-width: 1px;
margin: 0.5em, auto, 0.5em, auto;
width: 90%;
}

.movieList {
border: 1px solid red;
border-radius: 15px;
padding: 10px;
}

ol {
font-family: Oswald, Verdana, Arial, sans-serif;
font-weight: 300;
}

p {
font-family: Quattrocento, Georgia, "Times New Roman", serif;
font-weight: 400;
line-height: 1.4em;
}

p.intro {
color: pink;
text-align:center;
}

p.last {
text-align:center;
}

p.topLink {
text-align: center;
text-decoration: none;
}

.sentence {
font-size: 1.563em
}

ul {
font-family: Oswald, Verdana, Arial, sans-serif;
font-weight: 300;
}

